body {
  display: block;
}

.toolbar {
  margin: 30px auto;
  display: flex;
  gap: 6px;
}

.toolbar button {
  padding: 8px 18px;
  border: 1px solid #ccc;
  background: white;
  cursor: pointer;
  font-size: 17px;
  border-radius: 0;
  transition: 0.2s;
}

.toolbar button:hover {
  background: #f2f2f2;
}

.toolbar .active {
  background: #333;
  color: #fff;
  border-color: #333;
}

.project-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px;
}

.project-list img {
  width: 100%;
  display: block;
  margin-bottom: 20px;
}

.project-list::after {
  content: "";
  display: flex;
  width: 400px;
}
